
#formTab{
	-fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
	-fx-padding: 0.2em 0.5em 0.2em 0.5em;
}

#formTab: selected{
	-fx-background-color: #252525;
}

#mainTab{
	-fx-effect: innershadow(two-pass-box, rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
	-fx-padding: 0.2em 0.5em 0.2em 0.5em;
}

#mainTab:selected{
	-fx-background-color: #000000;
}

#advancedTab:selected{
	-fx-background-color: #000000;
}

#advancedTab{
	-fx-effect: innershadow(two-pass-box, rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
	-fx-padding: 0.2em 0.5em 0.2em 0.5em;
}

#actionTab{

	-fx-effect: innershadow(two-pass-box, rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
	-fx-padding: 0.2em 0.5em 0.2em 0.5em;
}

#actionTab: selected{
	-fx-background-color: #252525;
	-fx-border-width: 1 1 0 1;
}


#titleLabel {
	-fx-text-fill: #800000;
	-fx-font-size: 20pt;
	-fx-font-family: Verdana;
}

.textField {
	-fx-border-insets: 2 2 2 2;
}

.tab-label	{
	-fx-alignment: CENTER;
	-fx-text-fill: #800000 !important;
	-fx-font-family: Verdana;
}

.button:hover {
	-fx-background: #000000;
	-fx-cursor: HAND
}
.button:active {
	-fx-position:relative;
	-fx-top:1px;
}

#flowFile {
	-fx-border-radius: 2px;
	-fx-border-color: #000000;
}


#popupClean:hover{
	-fx-cursor: HAND;
}

#cleanFirstPopup{
	-fx-cursor: DEFAULT;
}

.button {
	-fx-font-family: Verdana;
	-fx-text-fill: #000000 !important;

}
